@import 'tailwindcss';

@theme {
  --color-brand-50: #4f48ff;
  --color-brand-100: #e3edff;
  --color-brand-200: #c2d6ff;
  --color-brand-300: #8eb8ff;
  --color-brand-400: #5b9bff;
  --color-brand-500: #2f7eff;
  --color-brand-600: #2664d6;
  --color-brand-700: #1d4bac;
  --color-brand-800: #143282;
  --color-brand-900: #0b1958;

  --font-sans: 'Inter', 'ui-sans-serif', 'system-ui';
}

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-family: var(--font-sans);
  background-color: #f9fafb;
  overscroll-behavior: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
